language: python

install:
  - echo "skipping install"

script:
  - echo "skipping tests"

deploy:
  - provider: elasticbeanstalk
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    region: us-east-2
    app: absa-api-2
    env: production
    bucket_name: absa-api-bucket
    on: masterg
