container_commands:
  00_download_conda:
    command: 'wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh'
    test: test ! -d /conda
  01_install_conda:
    command: 'bash Miniconda3-latest-Linux-x86_64.sh -b -f -p /conda'
    test: test ! -d /conda
  02_install_deps:
    command: '/conda/bin/conda env create -p ./conda_env -f environment.yml'
    test: test ! -d ./conda_env

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: api.py
  - option_name: PYTHONPATH
    value: ./conda_env/bin/python
